.gradient-line{
    display: inline;
	background-repeat: no-repeat;
	background-position: center bottom 18%;
	background-size: 100% 12px;
	background-image: linear-gradient(to right, #FBDC4D);
}

.title.gradient-line{
	background-size: 100% 8px;
}
.rules__item-title.gradient-line{
	background-size: 100% 6px;
}