.nav {
    // display: none;

    position: fixed;
    top: -100%;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: #fff;
    opacity: 0;

    color: #FFFFFF;

    padding-top: 30px;
    padding-left: 15px;

    // transition: top 0s linear, opacity .2s ease-in;
    transition: opacity .2s ease-in, top 0s linear 0.2s,;
}

.nav a {
    margin-right: 0;
    margin-top: 35px;
    font-size: 18px;
    color: #000;
}

.nav.nav--active {
    top: 0;
    opacity: 1;
    transition: top 0s linear, opacity .2s ease-in;
    z-index: 1;
}

.nav__list {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;

    li {
        margin-bottom: 28px;
    }

    a {
        text-decoration: none;
        color: #000;
    }
}