.slider {
    display: flex;
    justify-content: center;

    line-height: 1.3;
    text-align: center;
}
.slider__img {
    margin-bottom: 20px;
    height: 500px;
    width: 600px;

    @media (max-width: 899px) {
        height: 400px;
    }

    @media (max-width: 767px) {
        height: 290px;
    }
}
.slider__title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 8px;

    @media (max-width: 1139px) {
        font-size: 24px;
    }

    @media (max-width: 899px) {
        font-size: 18px;
    }
}
.slider__desc {
    font-weight: 400;
    font-size: 20px;

    @media (max-width: 1139px) {
        font-size: 16px;
    }

    @media (max-width: 899px) {
        font-size: 14px;
    }
}
.portfolio__slider {
    position: relative;
}
.slider__arrow {
    position: absolute;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 54px;
    height: 54px;
    background: #fff;
    border-radius: 50%;
    border: none;

    cursor: pointer;

    @media (max-width: 1139px) {
        display: none;
    }
}
.slider__arrow--left {
    top: 35%;
    left: -1%;
}
.slider__arrow--right {
    top: 35%;
    right: -1%;
}