.title {
    font-weight: 700;
    font-size: 54px;
    line-height: 1.3;

    &--big{
        font-size: 78px;
        line-height: 1;      
    }

    &--small{
        font-weight: 700;
        font-size: 42px;
        line-height: 1.3;

        @media (max-width: 1139px) {
            font-size: 32px;
        }
    
        @media (max-width: 899px) {
            font-size: 24px;
        }
    }

    @media (max-width: 1139px) {
        font-size: 42px;
    }

    @media (max-width: 899px) {
        font-size: 32px;
    }
}