.contacts {
    padding-top: 70px;
    padding-bottom: 90px;
    background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;
    position: relative;

    @media (max-width: 1139px) {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    @media (max-width: 899px) {
        padding-bottom: 40px;
    }

    &::before{
        content: "";
        width: 280px;
        height: 243px;
        background-image: url('../img/picture/contacts-bg.png');
        position: absolute;
        top: 87px;
        right: 15%;
    }

    .contacts__title {
        text-align: center;
        margin-bottom: 60px;

        @media (max-width: 1139px) {
            margin-bottom: 40px;
        }
    
        @media (max-width: 899px) {
            margin-bottom: 20px;
        }
    }
    
    .contacts__wrapper{
        display: flex;
        margin-bottom: 35px;

        @media (max-width: 1139px) {
            margin-bottom: 25px;
        }

        @media (max-width: 767px) {
            flex-direction: column-reverse;
        }

        .contacts__list {
            margin-right: 70px;

            @media (max-width: 1139px) {
                margin-right: 75px;
            }
        
            @media (max-width: 899px) {
                margin-right: 155px;
            }
        
            @media (max-width: 767px) {
                margin-right: 0;
            }
            
            .contacts__item {
                display: flex;
                margin-bottom: 22px;

                @media (max-width: 1139px) {
                    margin-bottom: 16px;
                }
            
                @media (max-width: 899px) {
                    display: block;
                    margin-bottom: 10px;
                }
        
                .contacts__item-text {
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 1.6;
                
                    min-width: 105px;
                    margin-right: 85px;

                    @media (max-width: 1139px) {
                        font-size: 18px;
                    }
                
                    @media (max-width: 899px) {
                        font-size: 16px;
                        margin-right: 0;
                    }
                }
                
                .contacts__item-link {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 1.6;
                    color: #1A71D2;
                    min-width: 232px;

                    @media (max-width: 1139px) {
                        font-size: 18px;
                    }
                
                    @media (max-width: 899px) {
                        font-size: 16px;
                    }
                }
            }
        }
        .contacts__aboute-text {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.6;

            @media (max-width: 1139px) {
                font-size: 16px;
            }
        
            @media (max-width: 899px) {
                font-size: 14px;
            }
        
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }
}