.footer {
    padding-top: 40px;
    padding-bottom: 50px;

    @media (max-width: 1139px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer__copyright p{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        color: #fff;
    
        margin-bottom: 10px;
    }
    .footer__text p{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #B0B0B0;

        @media (max-width: 1139px) {
            font-size: 14px;
        }
    }
    .footer__text span{
        text-decoration: underline;
        color: #FFFFFF;
    }
}
